{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeimage {
  background: whitesmoke;
  text-align: center;
  padding: 20px;
}
body {
  font-family: cursive, sans-serif;
  line-height: 40px;
  color:black;
  background: whitesmoke;
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
}
button {
    font-family: cursive, sans-serif;
    font-size: medium;
    font-weight: bold;
  background: grey;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 20px;
}
button:hover {
  background: #005fa3;
}
.gallery {
  background:blanchedalmond;
  color: black;
  padding: 20px;
  font:bold
}
.gallerygrid {
  display: grid;
  gap: 15px;
  margin-top: 20px;
}
.galleryitem image {
  border-radius: 8px;
  display: block;
  size: 50%;
}
.commercial img, .home img {
  width: 300px;
  height: 150px;
  border-radius: 8px;
}
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.aboutimage {
    text-align: center;
    margin-top: 20px;
}
.aboutimage img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.aboutheader {
  color: black;
  background: bisque;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
   display: block;
}
.contactimage {
    text-align: center;
    margin-top: 20px;
}

.contactimage img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.contactheader {
  color: black;
  background: bisque;
  text-align: center;
  font-size: 20px;
  padding: auto;
    margin-top: 20px;
   display: block;
}
.contactsection {
  text-align: center;
  margin: 40px 0;
}
.contactbtn {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background-color: #0063cc;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #005fa3;
}
.contact-section input,
.contact-section textarea {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-section button {
  padding: 12px 24px;
  background-color: #0063cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: disc;
  list-style-position: inside;
  text-align: left;
  padding: 0;
  display: inline-block;
}
.servicessection {
  text-align: center;
}
.servicesimage img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.servicesimage {
    text-align: center;
    margin-top: 20px;
}
.servicesheader {
  color: black;
  background: bisque;
  text-align: center;
  font-size: 20px;
  padding: auto;
    margin-top: 20px;
   display: block;
}