{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_image {
  background: whitesmoke;
  text-align: center;
  padding: 20px;
}
body {
  font-family: Arial, sans-serif;
  line-height: 40px;
  color:black;
  background: whitesmoke;
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
}
button {
  background: grey;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 20px;
}
button:hover {
  background: #005fa3;
}
.gallery {
  background:blanchedalmond;
  color: black;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.gallerygrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}
.galleryitem image {
  width: 50%;
  border-radius: 8px;
  display: block;
}
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}