{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeimage {
  background: whitesmoke;
  text-align: center;
  padding: 20px;
}
body {
  font-family: cursive, sans-serif;
  line-height: 40px;
  color:black;
  background: whitesmoke;
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
}
button {
    font-family: cursive, sans-serif;
    font-size: medium;
    font-weight: bold;
  background: rgba(84, 83, 85, 0.905);
  color: white;
  padding: 20px;
}
button:hover {
  background: #005fa3;
}
.gallery {
  background:rgb(202, 190, 176);
  color: black;
  padding: 20px;
  font:bold
}
.gallerygrid {
  display: grid;
  margin-top: 20px;
}
.galleryitem image {
  display: block;
  size: 50%;
}
.commercial img, .home img {
  width: 300px;
  height: 150px;
  border-radius: 8px;
}
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.aboutimage {
    text-align: center;
    margin-top: 20px;
}
.aboutimage img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.aboutheader {
  color: black;
  background: rgb(202, 190, 176);
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
   display: block;
}
.contactimage {
    text-align: center;
    margin-top: 20px;
}

.contactimage img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.contactheader {
  color: black;
  background:rgb(202, 190, 176);
  text-align: center;
  font-size: 20px;
  padding: auto;
    margin-top: 20px;
   display: block;
}
.contactsection {
  text-align: center;
  margin: 40px 0;
}
.contactbtn {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background-color: rgba(84, 83, 85, 0.905);
  color: white;
  font-size: 16px;
}
.contactbtn:hover {
  background-color: #005fa3;
}

ul {
  list-style: disc;
  list-style-position: inside;
  text-align: left;
  padding: 0;
  display: inline-block;
}
.servicessection {
  text-align: center;
}
.servicesimage img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.servicesimage {
    text-align: center;
    margin-top: 20px;
}
.servicesheader {
  color: black;
  background:rgb(202, 190, 176);
  text-align: center;
  font-size: 20px;
  padding: auto;
    margin-top: 20px;
   display: block;
}
.blogheader {
  color: black;
  background: rgb(202, 190, 176);
  text-align: center;
  font-size: 20px;
  padding: auto;
    margin-top: 20px;
   display: block;
}
.blogimage {
  width: 40%;
  height: 300px;
}
.blogpost {
  margin: 30px auto;
  max-width: 700px;
}
.blogpost h3 {
  font-size: 24px;
 text-align: center;
}